body, body * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: inline-block;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    margin-top: 20px;
}

.main-title {
    font-size: 25px;
    color: #3A52F4;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-text {
    font-size: 30px;
    text-transform: capitalize;
}

p {
    color: #8B8D9C;
    margin-top: 0;
    margin-bottom: 30px;
}

.left-column {
    width: 40%;
    float: left;
}

.bottom-links {

}

.bottom-links > p {

}

.bottom-links > a {
    margin-left: 30px;
    text-decoration: none;
}

.bottom-links > a:first-child {
    margin-left: 15px;
}

.right-column {

    width: 60%;
    float: right;
}

img {
    width: 100%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

